<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8"> 
       <title>Canteen App Order Form</title> 
                
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
         <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        <link href="orderEasy.css" rel="stylesheet" type="text/css">
    </head>
    <body>
           <!--nav bar-->
        <div class="container">
            <div id="app">
                <div class="nav-bar">
                    <div class="row">
                         <img src="images/crestRibbon.jpg" class="logo" alt="St Hilda's crest">
            

                            <nav> 
                              <ul>
                               
                              </ul> 
                         </nav>
                    </div><!--end nav row-->

                </div><!--ends nav bar-->
                
                <label>Pick up date: <input type="date" v-model="selectedDate" id="dateSelected" required title="Please enter a date"></label>
                
                <label>Pick up time: </label>
                <label>Morning Tea 
                    <input type="radio" id="morningTea" name="timeSelected" required> 
                </label>
                <label>Lunch 
                    <input type="radio" id="lunch" name="timeSelected" required> 
                </label>
               
                <br>
                
                
                <label>
                    <input type="checkbox" v-model="vegSelected" name="veg" id="veg" value="vegetarian">Vegetarian
                </label>
                <br>
                
                <label>
                    <input type="checkbox" v-model="gfSelected" name="gf" id="gf" value="gluten-free">Gluten Free
                </label>
                <br>
                
                <label>
                    <input type="checkbox" v-model="dfSelected" name="df" id="df" value="dairy-free">Dairy Free
                </label>
                <br>
                
                <label>
                    <input type="checkbox" v-model="normalSelected" name="normal" >No Dietary Requirements
                </label>
                <br>
                
                
                <div v-for="item in items" v-if="updateItemDisplayed(item)">
                    <div>
                        <h5 class="item-name">{{item['fields']['Product']}}</h5>
                        <h5 class="item-price">${{item['fields']['Price']}}</h5>
                        <h4>{{item['fields']['Availability1']}}</h4>
                        <h4>{{item['fields']['avaItems']}}</h4>
                        <h4>{{item['fields']['Category']}}</h4>
                        <h5 id="noItems"></h5>
                    </div>
                
                
                </div>
                
            </div><!--ends app div-->
        </div><!--ends container-->
        
        
        <!-- connection files for vue -->
        
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        
        <script src="general.js"></script>
        <script src="main_vue.js"></script>
       
    </body>
</html>