.container {
    text-align: center;
}

.hello {
    padding-left: 20%;
    padding-right: 20%;
  text-align: center;
}


.grid-container-two {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}


h1,
h2,
h3 {
  color: #38acd9;
  font-weight: bold;
}

.grid-container-three {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.homebuttons {
    border: 2px solid #38ACD9;
    background-color: white;
    font-weight: bold;
    color: #38ACD9;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: medium;
}

.homebuttons:hover {
    background-color: #38ACD9;
    color: white;
    transition: 0.8s;
}

.homeimages {
    width: 44px;
    height: 44px;
}

nav {
  border: 2px solid #38acd9;
  background-color: white;
  font-weight: bold;
  color: #38acd9;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  font-size: medium;
}

.homebuttons:hover {
  background-color: #38acd9;
  color: white;
  transition: 0.8s;
}

.homeimages {
  width: 44px;
  height: 44px;
}

.accordion {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* .dropbtn {
  cursor: pointer;
}

.rowcontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.dropdown {
  padding: 5%;
}

.dropdown-content {
  display: none;
  position: relative;
  /* z-index: 1; */
/* }

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
}

.dropbtn:hover .dropdown-content{
  display: block;
} */

/* .dropdown:hover .dropdown-content {
  display:contents;
} */