@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    font-family: 'EB Garamond, serif';
    margin:auto;
    
}

nav{
    background-color: #38ACD9;
    width:100%;
    height:auto;
}

 ul{
    list-style-type: none;
    text-decoration: none;
     margin:0;
     overflow: hidden;
    
}

li{
    float:right;
    
     
}

 li > a{
    color:white;
    padding: 10%;
    
     display: block;
}

.logo{
    width: 8%;
    height:auto;
}


 